.admin-container {
  width: 1000px;
  padding: 0 50px;
  margin: 30px auto;
  background-color: rgba(15, 20, 22, 1);
}
.admin-container > .box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box > a > button {
  padding: 8px 12px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: rgba(183, 28, 28, 1);
  transition: 0.3s;
}
.box > a > button:hover {
  background-color: rgba(38, 50, 56, 1);
  transition: 0.3s;
  cursor: pointer;
}
.admin-container > .myMovies-track {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1000px;
}
.myMovies-track > .myMovies-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
}
.myMovies-item .fa-solid {
  color: white;
  transition: 0.3s;
}
.myMovies-item .fa-trash:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}
.myMovies-item .fa-pen:hover {
  color: rgba(0, 0, 255, 0.961);
  transition: 0.3s;
  cursor: pointer;
}
