nav {
  height: 80px;
  padding: 15px 0;
  background: rgba(15, 20, 22, 1);
}
nav > ul {
  display: flex;
  justify-content: space-around;
}
ul > li {
  color: white;
  list-style-type: none;
}
ul > li:hover {
  cursor: pointer;
}
li a {
  text-decoration: none;
}
/* Dùng position absolute để dropdown menu nổi lên trên không làm xê dịch vị trí của thẻ li */
li > .filter-dropdown-menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 400px;
  padding: 15px 10px;
  border-radius: 10px;
  background: white;
}
.filter-dropdown-menu > .filter-dropdown-menu-item > a > button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 1000px;
  background: white;
  transition: 0.3s;
  cursor: pointer;
}
.filter-dropdown-menu > .filter-dropdown-menu-item > a > button::after {
  position: absolute;
  content: "";
  width: 102%;
  height: 107%;
  border-radius: 1000px;
  background: linear-gradient(to bottom right, #008cff, #e100ff);
  z-index: -1;
}
.filter-dropdown-menu > .filter-dropdown-menu-item > a > button:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 0;
}
.user > .user-dropdown {
  display: flex;
  align-items: start;
}
.btn-nav {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 1000px;
  background: linear-gradient(to bottom right, #008cff, #e100ff);
  cursor: pointer;
  transition: 0.3s;
}
.btn-nav:hover {
  color: black;
  transform: scale(1.1);
  transition: 0.3s;
}
.user-dropdown > img {
  border: 1px solid blue;
  border-radius: 50%;
}
li > .user-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 180px;
  padding: 20px;
  right: 75px;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
}
.user-dropdown-menu > .user-dropdown-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.user-dropdown-menu > button {
  width: 75%;
  margin: auto;
}
.user-dropdown-menu strong {
  color: white;
}
.user-dropdown-link > .fa-solid {
  font-size: 10px;
  color: white;
}
