.pagination {
  display: flex;
  gap: 5px;
  margin: auto;
}
.pagination button {
  padding: 10px 15px;
  color: gainsboro;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  background-color: rgba(33, 37, 39, 1);
  transition: 0.3s;
}
.pagination .pagination-button:hover {
  color: white;
  background-color: rgba(181, 231, 69, 1);
  cursor: pointer;
  transition: 0.3s;
}
.pagination > .pagination-item {
  display: flex;
  gap: 5px;
}
