.result-container {
  width: 1100px;
  margin: auto;
}
.result-container > .result {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(15, 20, 22, 1);
}
.result > .result-track {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1000px;
  margin: auto;
}
.result-item {
  position: relative;
  width: 150px;
}
