.form-search {
  position: relative;
}
.form-search > input {
  width: 220px;
}
.form-search > button {
  position: absolute;
  right: 0;
  top: 5px;
  color: black;
  border: none;
  background: transparent;
}
.searchBar-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
  width: 205px;
  height: 300px;
  padding: 10px;
  color: white;
  border-radius: 0 0 5px 5px;
  background-color: rgb(30, 30, 30);
}
.searchBar-dropdown-menu > .searchBar-dropdown-menu-item {
  display: flex;
  width: 180px;
  gap: 20px;
  margin-top: 10px;
}
.searchBar-dropdown-menu-item > a > img {
  border-radius: 2px;
}
/* .searchBar-dropdown-menu-item > a > strong {
  color: white;
  transition: 0.3s;
}
.searchBar-dropdown-menu-item > a > strong:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
} */
