.slider-container {
  width: 1200px;
  margin: auto;
}
.slider-container > h2 {
  color: white;
}
.slider-container > .slider {
  position: relative;
  display: flex;
  border-radius: 5px;
  background-color: rgba(15, 20, 22, 1);
}
.slider > .slider-button {
  position: absolute;
  width: 30px;
  height: 8%;
  top: 110px;
  color: white;
  border: none;
  background-color: red;
  z-index: 1;
}
.slider > .slider-button-left {
  left: 35px;
}
.slider > .slider-button-right {
  left: 1125px;
}
.fa-solid {
  font-size: 14px;
}
.slider > .slider-track {
  display: flex;
  gap: 10px;
  width: 1120px;
  margin: 30px auto;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slider > .slider-track::-webkit-scrollbar {
  display: none;
}
.slider-track > .slider-item {
  position: relative;
  width: 150px;
}
.fa-heart {
  color: white;
}
